<%- include('partials/header') %> 
<% var username,userpic; %>

<div class="container" style="overflow: hidden; margin-top: 20px;background-color: white;">
    <%= typeof msg != 'undefined' ? msg : '' %>
    <% msg=undefined;  %>
    <div style="padding: 20px;" class="row">
        <div class="col-4">
            <div style="padding: 15px; border: 1px solid rgba(0,0,0,0.08); ">
                <span style="position:relative; left: 43%;"><strong>Direct</strong></span>
                <button type="button"  data-toggle="modal" data-target="#exampleModalCenter" class="fa fa-pen del" style="border:none ;background-color: white; padding-top: 5px;padding-bottom: 5px; position:relative; left: 75%; font-size: medium;" ></button> 
            </div>
            <div data-simplebar style="height: 600px; position: relative; top: -1px; border: 1px solid rgba(0,0,0,0.08);">
                
            <% for(var i=0;i<user.inchat.length;i++){ %>
                <% for( var x=0;x<names.length;x++){ %>
                <%      if(names[x].id==user.inchat[i].chatid){ %>
                <%          username=names[x].username;userpic=names[x].profpic;break; %>    
                <%      } %>   
                <% }%> 
                <div onclick="newchat('<%= user.id %>','<%= user.inchat[i].chatid %>','<%= username%>','<%= user.inchat[i].userpic %>','<%=user.username%>','<%= user.inchat[i].roomid %>')" id="chat<%= user.inchat[i].chatid %>" style="padding: 8px; width: 350px; " class="needprofpic row friendrow">
                    <!-- <script type="text/javascript">profpicaddition("<%= user.inchat[i].username %>");</script> -->
                    <div class="col-4">
                        <img id="chatpic<%= user.inchat[i].chatid %>"  style="border-radius: 50%; width: 55px;height: 55px;margin-left: 15px; " src="" alt="">
                    </div>
                    <div class="col-6" style="width: 30px; margin-left: -15px;margin-top: 3px;">
                        <div>
                            <%= username %>
                        </div>
                        <div class="needlastmsg" id="<%= user.inchat[i].roomid %>" style="font-weight: 200;">
                            
                        </div>
                    </div>
                </div>
            <% } %>    
            </div>
        </div>
        <hr>
        <div style="border: 1px solid rgba(0,0,0,0.08) ;padding: 0%;" class="col-8">
          <div style="height: 57px;border-bottom: 1px solid rgba(0,0,0,0.08);"  >
            <form class="profpointer" style="display: inline-block;" action="/profile/" method="GET">
              <button style="display: inline-block; padding: 0px;border: none;background-color: white;">  
                <img id="mainchatpic"  style="display: none; width: 25px; height: 25px;border-radius: 50%;margin-top: 15px;margin-left: 20px;" src="" alt="">
              </button>  
            </form>
            <form class="profpointer" style="display: inline-block;" action="/profile/" method="GET">
              <button style="display: inline-block; padding: 0px;border: none;background-color: white;">  
                <span id="mainchatname" style="display: none; position:  relative; top: 10px; margin-left: 10px;font-weight: 600;font-size: 15px;"></span>
              </button>  
            </form>
          </div>
          <div data-simplebar id="chatbox"  style=" vertical-align: bottom; height: 550px;">
            <!-- <div class="mymsg" > Hi there</div>
            <div class="mymsg" > Hi there</div>
            <div class="mymsg" > Hi there</div>
            <div class="mymsg" > Hi there</div>
            <div class="mymsg" > Hi there</div>
            <div class="mymsg" > Hi there</div>
            <div class="mymsg" > Hi there</div>
            <div class="mymsg" > Hi there</div>
            <div class="mymsg" > Hi there</div>
            <div class="mymsg" > Hi there</div>
            <div class="mymsg" > Hi there</div>
            <div class="mymsg" > Hi there</div>
            <div class="mymsg" > Hi there</div> -->
          </div>
          <div id="delmodal" class="postmodal">
            <div style="width: 400px;height: 175px;position: fixed;top: 50%;left: 50%;margin-left: -190px;margin-top: -90px;border-radius: 20px; background-color: white;">
                <div style="text-align: center; margin-top: 30px;font-weight: 600;font-size: 16px;">Delete message?</div>
                <hr style="margin-top: 35px;margin-bottom: 0px;">
                <button onclick="delmsg();" style="border: none;color: rgb(200,30,80);font-weight: 700; width: 390px;margin-left: 5px; background-color: white; margin-top: 7px;margin-bottom: 7px;"> Yes </button>
                <hr style="margin-top: 0px;margin-bottom: 0px;">
                <button onclick="closedelmodal();" style="border: none;width: 390px;margin-left: 5px;font-weight: 400;font-size: 14px; background-color: white; margin-top: 7px;margin-bottom: 7px;"> No </button>
            </div>
          </div>
          <div style="border-top: 1px solid rgba(0,0,0,0.08); height: 49px;background-color: rgba(0,0,0,0.01);">
            <form style="display: inline-block;" onsubmit="chat();return false;">
            <input id="sendinp" type="text" disabled >
            <input type="submit" value="" style="display: none;">
            </form>
            <button id="sendbtn" onclick="chat()">Send</button>
          </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">New message</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>
              To:
          </div>
            <form action="/chat" method="POST">
              <input type="text" name="person" id="">
              <button style="background-color: white;border: 1px solid rgba(0,0,0,0.1);">Add</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>

<script src="socket.io/socket.io.js"></script>
<script src="https://unpkg.com/simplebar@latest/dist/simplebar.min.js"></script>
<script src="/chat.js"></script>

<%- include('partials/footer') %> 
