<%- include('partials/header') %> 
<% var i; %>
<% var maxcomm,commflag=0,username,userpic; %>

<% function givename(id){ %>
    <% for( var x=0;x<names.length;x++){ %>
    <%      if(names[x].id==id){ %>
    <%          from=names[x].username;break; %>    
    <%      } %>   
    <% }%> 
<% return from }%>

<% function givepic(id){ %>
    <% for( var x=0;x<names.length;x++){ %>
    <%      if(names[x].id==id){ %>
    <%          from=names[x].profpic;break; %>    
    <%      } %>   
    <% }%> 
<% return from }%>

<% for(i=posts.length-1;i>=0;i--){ %>
    <% for( var x=0;x<names.length;x++){ %>
    <%      if(names[x].id==posts[i].ownerid){ %>
    <%          username=names[x].username;break; %>    
    <%      } %>   
    <% }%> 
<div class="container" style="overflow: hidden;">
<div class="container" style="text-align: center;">
    <div class="post" >
        <form class="gotoprofbtn" action="/profile/<%= posts[i].ownerid %>" method="GET">
            <button class="gotoprofbtn">
                <img id="postprofpic<%= posts[i].id %>" class="postprofpic" src="<%= givepic(posts[i].ownerid) %>" alt="">
            </button>    
        </form>
        <form style="position: relative;left: -10px;" class="gotoprofbtn" action="/profile/<%= posts[i].ownerid %>" method="GET">
            <button class="gotoprofbtn">
                <strong style="font-size: small;"><%= username %></strong>
            </button>       
        </form>
        <div onclick="postmodalon('<%= posts[i].id %>')" style="float: right;margin-right: 15px;margin-top: 24px;font-weight: 501; font-size: 14px;" class="far fa-ellipsis-h "></div>
        <div id="postmodal<%= posts[i].id %>" class="postmodal">
            <div style="width: 400px;height: 100px;position: fixed;top: 50%;left: 50%;margin-left: -190px;margin-top: -90px;border-radius: 20px; background-color: white;">
                <div onclick="closebtn()" style="float: right;margin-top: 12px;margin-right: 15px;font-weight: 501;font-size: medium;" class="fa fa-times"></div>
                <hr style="margin-top: 35px;margin-bottom: 0px;">
                <form action="/p/<%= posts[i].id %>">
                <button style="border: none;width: 390px;margin-left: 5px; background-color: white; margin-top: 7px;margin-bottom: 7px;">Go to post</button>
                </form>
                <hr style="margin-top: 0px;margin-bottom: 0px;">
            </div>
        </div>
    </div>
    <div>
        <img ondblclick="like('<%= posts[i].id %>','<%= user.id %>','<%= posts[i].likesid %>')" style="width: 650px;height: 600px;" src="/uploads/<%= posts[i].image %>" alt="">
    </div>
    <div class="likebar" >
        <button id="likeicon<%= posts[i].id %>" onclick="like('<%= posts[i].id %>','<%= user.id %>','<%= posts[i].likesid %>')" class="<%= posts[i].likesid.includes(user.id) ? 'fas' : 'far' ;%> fa-heart" style="padding: 5px;padding-left: 6px;padding-right: 6px; font-size: 25px; background-color: white;border:none"></button>
        <button class="far fa-comment" onclick="icontoinput('<%= posts[i].id %>')" style="padding: 5px;padding-left: 6px;padding-right: 6px; font-size: 25px; background-color: white;border:none"></button>
        <form style="display: inline-block;margin-left: -3px;" action="/chat/<%= posts[i].ownerid %>" method="POST">
            <button class="far fa-paper-plane" style="padding: 5px;padding-left: 6px;padding-right: 6px; font-size: 25px; background-color: white;border:none"></button>
        </form>
        <div onclick="likemodalon('<%=posts[i].id%>')" class="nooflikes" style="padding-left: 8px;padding-right: 8px;padding-bottom: 8px;">
            <strong id="likesnum<%= posts[i].id %>"><%= posts[i].likesid.length + " likes" %></strong>
        </div>
        <div id="likemodal<%= posts[i].id %>" class="likemodal">
            <div style=" background-color: white;width: 400px;height: 400px;position: fixed;top: 50%;left: 50%;margin-top: -210px;margin-left: -180px;border-radius: 20px;">
                <div style="border-bottom: 1px solid lightgray;">
                    <div style="display: inline-block;margin-left: 30px;font-size: large; margin-top:20px ;padding-bottom: 15px;">Likes</div>
                    <div style="float: right;margin-top: 20px;margin-right: 25px;" onclick="closebtn()" class="fa fa-times"></div>
                </div>    
                <div>
                    <% for(var z=0;z<posts[i].likesid.length;z++){ %>
                        <form action="/profile/<%= posts[i].likesid[z] %>" method="GET">
                            <button style="border: none;background-color: white;">
                                <div style="padding: 10px ;margin-left: 10px;">
                                    <img src="<%= givepic(posts[i].likesid[z]) %>" style="width: 45px;height: 45px;border-radius: 50%;" alt="">
                                    <div style="display: inline-block; margin-left: 10px;position: relative;top: 2px;"><%= givename(posts[i].likesid[z]) %></div>
                                </div>
                            </button>   
                        </form>
                    <% } %>
                </div>
            </div>
        </div>
        <div style="padding-left: 8px;">
            <form style="display: inline-block;margin-left: -5px;" action="/profile/<%= posts[i].ownerid %>">
                <button style="border: none;background-color:white ;padding-right: 0px;">
                    <strong><%= givename(posts[i].ownerid)+'' %></strong>
                </button>
                <span style="font-size: 14px;font-weight: 400;"><%= "" + posts[i].caption %></span>

            </form>
            
        </div>
        <div style="margin-top: 5px;" id="commentbox<%= posts[i].id %>" class="commentbox">
            <% maxcomm=0; %>
            <% commflag=0 %>
            <% if(comments!=null){%>
                <%comments.forEach(comm=>{ %>    
                <% if(comm.postid==posts[i].id ){ %>
                    <% if(maxcomm<2){ %>
                    <div id="comm<%= comm.id %>" style="margin-left: 8px; font-size: 15px;"><form style="display: inline-block;margin-left: -5px;" action="/profile/<%= comm.from %>"><button style="border: none;background-color:white ;"><strong><%= givename(comm.from)+'  ' %></strong></button></form><span style="font-size: 14;font-weight: 350;" ><%= comm.comment %></span><% if(comm.from==user.id){ %><button onClick='delchatmodalon("<%= comm.id %>")' class='far fa-trash-alt del' style='color: rgb(240,240,240);font-size:13px;border:none;background-color:white;margin-left: 20px;'></button><% } %></div>
                    <div id="delmodal<%= comm.id %>" class="postmodal">
                        <div style="width: 400px;height: 175px;position: fixed;top: 50%;left: 50%;margin-left: -190px;margin-top: -90px;border-radius: 20px; background-color: white;">
                            <div style="text-align: center; margin-top: 30px;font-weight: 600;font-size: 16px;">Delete comment?</div>
                            <hr style="margin-top: 35px;margin-bottom: 0px;">
                            <button onclick="delcomm('<%= comm.id %>');" style="border: none;color: rgb(200,30,80);font-weight: 700; width: 390px;margin-left: 5px; background-color: white; margin-top: 7px;margin-bottom: 7px;"> Yes </button>
                            <hr style="margin-top: 0px;margin-bottom: 0px;">
                            <button onclick="closedelmodal();" style="border: none;width: 390px;margin-left: 5px;font-weight: 400;font-size: 14px; background-color: white; margin-top: 7px;margin-bottom: 7px;"> No </button>
                        </div>
                    </div>
                    <% maxcomm++; %>
                <% }else if(commflag==0){ %>
                    <a style="margin-left: 7px; text-decoration: underline;" href="/p/<%= posts[i].id %>">View all comments</a>
                    <% commflag++; %>
                <% }} %>        
            <% })} %>    
        </div>
        
    </div>
    <div class="likebar"  style="padding:10px;" >
    <form onsubmit="comment('<%= posts[i].id %>','<%= user.id %>','<%= user.username %>','<%= posts[i].ownerid %>');return false;">
        <input id="feedcomminp<%= posts[i].id %>"  class="feedcomminp" placeholder="Add comment" type="text">
        <input type="submit" style="display: none;">
        <button onclick="comment('<%= posts[i].id %>','<%= user.id %>','<%= user.username %>','<%= posts[i].ownerid %>')" style="border: none;background-color: rgba(0,0,0,0); color: rgb(0,123,250);font-weight: bold;font-size: medium;margin-left: 17px;">Post</button>
    </form>
    </div>
</div>    
</div>
<% } %>
<% if(posts[0]!=null){ %>  
<div  style="margin-left: 700px;">
    <!-- s<div style="font-size: 150px;font-weight: 600;color: white;border: 3px solid black;border-radius: 50%; " class="far fa-circle"></div> -->
    <div style="margin-top: 50px;margin-bottom: 50px; font-size: larger;color: black;margin-left: -20px;">That's all for today</div>
</div>
<% }else{ %>
    <div style="text-align: center;margin-top: 60px; font-weight: 600;">
        You dont have any posts on your feed
    </div>
<% } %>
<script src="/socket.js"></script>
<script>
    var postid;
    var presentcommid;
    function icontoinput(postid){
        var comminp=document.getElementById('feedcomminp'+postid);
        comminp.focus();
    }
    function delchatmodalon(commid){
        presentcommid=commid;
        console.log(commid);
        var delcommmodal=document.getElementById('delmodal'+commid);
        delcommmodal.style.display='block';
    }
    function closedelmodal(){
        var delcommmodal=document.getElementById('delmodal'+presentcommid);
        delcommmodal.style.display='none';        
    }
    function postmodalon(pstid){
        postid=pstid;
        var modal=document.getElementById('postmodal'+pstid);
        modal.style.display='block';
    }
    function likemodalon(pstid){
        postid=pstid;
        var modal=document.getElementById('likemodal'+pstid);
        modal.style.display='block';
    }
    function closebtn(){
        var postmodal=document.getElementById('postmodal'+postid);
        var likemodal=document.getElementById('likemodal'+postid);
        postmodal.style.display='none';
        likemodal.style.display='none';
    }
    function delcomm(commid){
        socket.emit('delcomment',{commid:commid});
        var comment=document.getElementById('comm'+commid);
        comment.remove();
        closedelmodal();
    }
    window.addEventListener('click',(e)=>{
      if(e.target.id=='postmodal'+postid)
      {
        var postmodal=document.getElementById('postmodal'+postid);
        postmodal.style.display='none';
      }
      if(e.target.id=='delmodal'+presentcommid)
      {
        var postmodal=document.getElementById('delmodal'+presentcommid);
        postmodal.style.display='none';
      }
    });
</script>
<%- include('partials/footer') %> 
