<%- include('partials/header') %> 
<% var maxcomm; %>
<% var commflag=0,from,username; %>
<% function givename(id){ %>
  <% for( var x=0;x<names.length;x++){ %>
  <%      if(names[x].id==id){ %>
  <%          from=names[x].username;break; %>    
  <%      } %>   
  <% }%> 
<% return from }%>  

<% function givepic(id){ %>
  <% for( var x=0;x<names.length;x++){ %>
  <%      if(names[x].id==id){ %>
  <%          from=names[x].profpic;break; %>    
  <%      } %>   
  <% }%> 
<% return from }%>

<div class="container pt-5" style="overflow: hidden;" >
    <div class="row" style="margin-bottom: 10px;">    
        <div  class="col-4">
            <img src="<%= user.profpic%>" alt="" style="margin-left: 140px ; width: 150px;height: 150px; border-radius: 50%;">
        </div>
        <div class="col-8" style="margin-top: 15px;">
            <div class="usernametxt row">
                <%=  user.username %>
                <span style="margin-left: 20px;">
                    <form style="display: inline-block;" action="/account/edit" method="GET">
                        <button class="postbtn" style="font-size: small;font-weight: 600;padding:5px; border-radius: 6px;">
                            Edit profile
                        </button>
                    </form>
                    <button style="border: none;background-color: #F8F8F8 ; font-size: 18px;" class="fa fa-cog " type="button"  data-toggle="modal" data-target="#exampleModalCenter">
                      
                    </button>
                    
                </span>
            </div>
            <div class="row" style="margin-top: 15px;">
                <div style="margin-left: -15px;" class="col-3">
                    <strong><%= user.ownposts.length %></strong>
                    posts
                </div>
                <div class="col-3">
                    <button style="border: none;background-color: #F8F8F8 ; font-size: 16px;" type="button"  data-toggle="modal" data-target="#modalfollowing">
                    
                    <strong><%= user.followingid.length %></strong>
                    following
                    </button>
                </div>
                <div class="col-3">
                    <button style="border: none;background-color: #F8F8F8 ; font-size: 16px;" type="button"  data-toggle="modal" data-target="#modalfollower">
                    
                    <strong><%= user.followerid.length %></strong>
                    followers
                </div>
            </div>
            <div class="row" style="margin-top: 20px;">
                <%= user.bio %>
            </div>
        </div>
    </div>
    <div> 
      <form id="profpicform" enctype="multipart/form-data" action="/changeprofpic" method="POST">
        <input style="display: none;"  type="file" name="profpicinp" onchange='this.form.submit();' id="profpicchange">
        <label id="labforchange" style="margin-left: 131px; padding: 5px;font-weight: normal ; color: rgb(0,123,240);" for="profpicchange">Change profile picture</label>
      </form> 
    </div>
    <hr>
    <div class="row">
    <% let i;  %>
    <% for(i=0;i<posts.length;i++){  %>
        
            <div style="margin-bottom: 20px ;" onclick="modalposton('<%= posts[i].id %>')" class="col-4 profhov">
                <i class="fa fa-heart profheart" style=" color: white; position: absolute;top: 155px;left: 165px;" >
                    <span style="font-family: Arial, Helvetica, sans-serif;">
                        <%= posts[i].likesid.length%>
                    </span>
                </i>
                <img class="img-fluid profimg profhov" style="width: 350px;height: 350px;" src="/uploads/<%= posts[i].image  %>" alt="">
            </div>
            <div id="modalof<%= posts[i].id %>" class="postmodal" >
              <div id="modalclose<%= posts[i].id %>" style="color: #fff;font-size: xx-large; position: fixed; top:1.5% ;left: 96%;" class="fa fa-times"></div>
              <div style="position: fixed;left: 20%;top: 10%; width: 1015px;height: 630px;background-color: white;">
                <img style=" width: 595px;height: 630px;" ondblclick="like('<%= posts[i].id %>','<%= user.id %>','<%= posts[i].likesid %>')" src="/uploads/<%= posts[i].image  %>" alt="">
                <span style="display: inline-block;">
                  <div style=" margin-left: -5px;width: 421px; border-bottom: 1px solid rgba(0,0,0,0.1); position: absolute;top: 8px;padding: 10px;padding-bottom: 15px;">
                    <form action="/profile/<%= user.id %>" style="display: inline-block;margin: 0;">
                      <button style="border: none;background-color: white;padding: 0;">
                        <img style="margin-left: 5px; width: 40px;height: 40px; border-radius: 50% ;" src="<%= user.profpic %>" alt="">
                        <span style="position: relative;top: 1.5px; margin-left: 15px;font-size: 16px;font-weight: 600;"> <%= user.username %> </span>
                      </button>
                    </form>
                    <span onclick="postchangemodalon('<%= posts[i].id %>')" style="float: right;font-weight: 600;margin-top: 10px;margin-right: 15px;" class="far fa-ellipsis-h"></span>
                    <div id="postchangemodal<%= posts[i].id %>" class="postmodal">
                      <div style="width: 400px;height: 120px;position: fixed;top: 50%;left: 50%;margin-left: -190px;margin-top: -90px;border-radius: 20px; background-color: white;">
                          <div onclick="closechangebtn()" style="float: right;margin-top: 12px;margin-right: 15px;font-weight: 501;font-size: medium;" class="fa fa-times"></div>
                          <hr style="margin-top: 35px;margin-bottom: 0px;">
                          <form action="/p/<%= posts[i].id %>">
                          <button style="border: none;width: 390px;margin-left: 5px; background-color: white; margin-top: 7px;margin-bottom: 7px;">Go to post</button>
                          </form>
                          <hr style="margin-top: 0px;margin-bottom: 0px;">
                          <form onsubmit="closechangebtn();deletemodalon();return false">
                            <button style="color: rgb(200,30,100);font-weight: 600; border: none;width: 390px;margin-left: 5px; background-color: white; margin-top: 7px;margin-bottom: 7px;">Delete post</button>
                          </form>
                      </div>
                    </div>
                    <div id="postdeletemodal<%= posts[i].id %>" class="postmodal">
                      <div style="width: 400px;height: 130px;position: fixed;top: 50%;left: 50%;margin-left: -190px;margin-top: -90px;border-radius: 20px; background-color: white;">
                          <div style="float: left;margin-left: 165px;margin-top: 12px;">Delete post</div>
                          <div onclick="closedeletebtn()" style="float: right;margin-top: 12px;margin-right: 15px;font-weight: 501;font-size: medium;" class="fa fa-times"></div>
                          <hr style="margin-top: 45px;margin-bottom: 0px;">
                          <form action="/delete/<%= posts[i].id %>" method="POST">
                          <button style="color: rgb(200,30,100);border: none;width: 390px;margin-left: 5px; background-color: white; margin-top: 7px;margin-bottom: 7px;">Yes</button>
                          </form>
                          <hr style="margin-top: 0px;margin-bottom: 0px;">
                          <form onsubmit="closedeletemodal();return false">
                            <button style="font-weight: 600; border: none;width: 390px;margin-left: 5px; background-color: white; margin-top: 7px;margin-bottom: 7px;">No</button>
                          </form>
                      </div>
                    </div>
                  </div>
                  <div id="commentbox<%= posts[i].id %>" style="overflow: auto; border-bottom: 1px solid rgba(0,0,0,0.1); height: 380px;width: 421px; margin-left: -5px; position: absolute;top: 80px;padding: 10px;">
                    <div style="margin-bottom: 15px;">
                      <form action="/profile/<%= user.id %>" style="display: inline-block;margin: 0;">
                        <button style="border: none;background-color: white;padding: 0;">
                          <img style="margin-left: 5px; width: 40px;height: 40px; border-radius: 50% ;" src="<%= user.profpic %>" alt="">
                          <span style="position: relative;top: 1.5px; margin-left: 15px;font-size: 16px;font-weight: 600;"> <%= user.username %> </span>
                        </button>
                      </form>
                      <span style="position: relative;top: 1.5px; margin-left: 5px;font-size: 14px;font-weight: 350;"> <%= posts[i].caption %> </span>
                    </div>
                      <% maxcomm=0; %>
                      <% commflag=0; %>
                      <% if(comments!=null){%>
                          <%comments.forEach(comm=>{ %>    
                          <% if(comm.postid==posts[i].id ){ %>
                            <% for( var x=0;x<names.length;x++){ %>
                            <%      if(names[x].id==comm.from){ %>
                            <%          from=names[x].username;break; %>    
                            <%      } %>   
                            <% }%>  
                            <div id="comm<%= comm.id %>" style="margin-left: -5px; margin-bottom: 7px;">
                              <form style="display: inline-block;" action="/profile/<%= comm.from %>">
                                <button style="padding: 0;border: none;background-color: white;">
                                  <span style="position: relative;top: 1.5px; margin-left: 15px;font-size: 15px;font-weight: 400;"><strong> <%= from %> </strong> </span>
                                </button>
                              </form>
                              <span style="position: relative;top: 1.5px; margin-left: 5px;font-size: 14px;font-weight: 350;"> <%= comm.comment %> </span>
                              <button onclick='delchatmodalon("<%= comm.id %>")' class='far fa-trash-alt del' style='color: rgb(240,240,240);font-size:13px;border:none;background-color:white;margin-left: 20px;'></button>
                              <div id="delmodal<%= comm.id %>" class="postmodal">
                                <div style="width: 400px;height: 175px;position: fixed;top: 50%;left: 50%;margin-left: -190px;margin-top: -90px;border-radius: 20px; background-color: white;">
                                    <div style="text-align: center; margin-top: 30px;font-weight: 600;font-size: 16px;">Delete comment?</div>
                                    <hr style="margin-top: 35px;margin-bottom: 0px;">
                                    <button onclick="delcomm('<%= comm.id %>');" style="border: none;color: rgb(200,30,80);font-weight: 700; width: 390px;margin-left: 5px; background-color: white; margin-top: 7px;margin-bottom: 7px;"> Yes </button>
                                    <hr style="margin-top: 0px;margin-bottom: 0px;">
                                    <button onclick="closedelmodal();" style="border: none;width: 390px;margin-left: 5px;font-weight: 400;font-size: 14px; background-color: white; margin-top: 7px;margin-bottom: 7px;"> No </button>
                                </div>
                              </div>
                            </div>
                              <% maxcomm++; %>
                          <% } %>        
                      <% })} %>    
                  </div>
                  <div style="padding: 15px; position: relative;top: 245px; margin-left: -5px; border-bottom: 1px solid rgba(0,0,0,0.1);height: 115px;width: 420px;">
                    <div id="likeicon<%=posts[i].id %>" onclick="like('<%= posts[i].id %>','<%= user.id %>','<%= posts[i].likesid %>')" style="padding: 6px; font-size: 27px;" class="<%= posts[i].likesid.includes(user.id) ? 'fas' : 'far' ;%> fa-heart"></div>
                    <div onclick="icontoinput('<%= posts[i].id %>');" style="padding: 6px; font-size: 27px;" class="far fa-comment"></div>
                    <form style="display: inline-block;" action="/chat">
                      <button style="padding: 4px; font-size: 27px;border: none;background-color: white;" class="far fa-paper-plane"></button>
                    </form>
                    <% if(posts[i].likesid.length==0){ %>
                      <div><%= posts[i].likesid.length %> likes</div>
                    <% }else{ %>
                      <div style="padding-left: 10px;">
                        Liked by <%= givename(posts[i].likesid[0]) %> <span> <% if(posts[i].likesid.length==2){%><%=','+givename(posts[i].likesid[1])%><% } %> <% if(posts[i].likesid.length>2){%><%=' and '+(posts[i].likesid.length-1)%> <button onclick="likemodalon('<%= posts[i].id %>')" style="padding: 0%; border: none; background-color: white; font-weight: 600;">others</button> <% } %> </span>
                      </div>
                    <% } %> 
                    <div id="likemodal<%= posts[i].id %>" class="likemodal">
                      <div style=" background-color: white;width: 400px;height: 400px;position: fixed;top: 50%;left: 50%;margin-top: -210px;margin-left: -180px;border-radius: 20px;">
                          <div style="border-bottom: 1px solid lightgray;">
                              <div style="display: inline-block;margin-left: 30px;font-size: large; margin-top:20px ;padding-bottom: 15px;">Likes</div>
                              <div style="float: right;margin-top: 20px;margin-right: 25px;" onclick="closebtn('<%= posts[i].id %>')" class="fa fa-times"></div>
                          </div>    
                          <div>
                              <% for(var z=0;z<posts[i].likesid.length;z++){ %>
                                  <form action="/profile/<%= posts[i].likesid[z] %>" method="GET">
                                      <button style="border: none;background-color: white;">
                                          <div style="padding: 10px ;margin-left: 10px;">
                                              <img src="<%= givepic(posts[i].likesid[z]) %>" style="width: 45px;height: 45px;border-radius: 50%;" alt="">
                                              <div style="display: inline-block; margin-left: 10px;position: relative;top: 2px;"><%= givename(posts[i].likesid[z]) %></div>
                                          </div>
                                      </button>   
                                  </form>
                              <% } %>
                          </div>
                      </div>
                  </div>
                    <div style="position: relative;top: 42px;">
                      <form onsubmit="comment('<%= posts[i].id %>','<%= user.id %>','<%= user.username %>','<%= posts[i].ownerid %>');return false">
                        <input style="width: 330px; padding: 10px;border: none;" type="text" placeholder="Add comment" name="" id="feedcomminp<%= posts[i].id %>">
                        <input type="submit" value="" style="display: none;">
                        <button onclick="comment('<%= posts[i].id %>','<%= user.id %>','<%= user.username %>','<%= posts[i].ownerid %>')" style="border: none;background-color: rgba(0,0,0,0); color: rgb(0,123,250);font-weight: bold;font-size: medium;margin-left: 7px;">Post</button>
                      </form>  
                    </div> 
                  </div>
                </span>
              </div>
            </div>
        <%}%>
    </div>        
</div>
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">settings</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="/users/logout" method="GET">
              <button style="background-color: white;border: none;">Logout</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>
<div class="modal fade" id="modalfollowing" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Following</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body"> 
          <% user.followingid.forEach(id=>{%>
            <% for( var x=0;x<names.length;x++){ %>
            <%      if(names[x].id==id){ %>
            <%          username=names[x].username;break; %>    
            <%      } %>   
            <% }%> 
          
          <form action="/profile/<%= id %>" method="GET">
              <button style="background-color: white;border: none;"><%= username %></button>
          </form>
          <%})  %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>
<div class="modal fade" id="modalfollower" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Followers</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"> 
        <% user.followerid.forEach(id=>{%>
          <% for( var x=0;x<names.length;x++){ %>
          <%      if(names[x].id==id){ %>
          <%          username=names[x].username;break; %>    
          <%      } %>   
          <% }%> 
        
        <form action="/profile/<%= id %>" method="GET">
            <button style="background-color: white;border: none;"><%= username %></button>
        </form>
        <%})  %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script src="/socket.js"></script>
<script>
  var fileInput = document.getElementById('profpicchange');
  var form =document.getElementById('profpicform') ;
  var postidloc;
  var presentcommid;
  

  // var handleFiles = () => {
  //   console.log("works");
  //   form.submit();
  // }
  function delchatmodalon(commid){
      presentcommid=commid;
      var delcommmodal=document.getElementById('delmodal'+commid);
      delcommmodal.style.display='block';
  }
  function closedelmodal(){
      var delcommmodal=document.getElementById('delmodal'+presentcommid);
      delcommmodal.style.display='none';        
  }
  function icontoinput(postid){
    var comminp=document.getElementById('feedcomminp'+postid);
    comminp.focus();
  }
  function likemodalon(pstid){
        postidloc=pstid;
        var modal=document.getElementById('likemodal'+pstid);
        modal.style.display='block';
  }
  function deletemodalon(){
        var modal=document.getElementById('postdeletemodal'+postidloc);
        modal.style.display='block';
  }
  function closedeletemodal(){
        var modal=document.getElementById('postdeletemodal'+postidloc);
        modal.style.display='none';
  }
  function delcomm(commid){
        socket.emit('delcomment',{commid:commid});
        var comment=document.getElementById('comm'+commid);
        comment.remove();
        closedelmodal();
  }
  function closebtn(pstid){
    postidloc=pstid;
    var likemodal = document.getElementById('likemodal'+pstid);
    likemodal.style.display='none';
  }
  function closechangebtn(){
    var likemodal = document.getElementById('postchangemodal'+postidloc);
    likemodal.style.display='none';
  }
// fileInput.addEventListener("change", handleFiles);
window.addEventListener('click',(e)=>{
  // console.log("goes inside");
  console.log(e.target);
  if(e.target.id=='modalof'+postidloc)
  {
    var postmodal=document.getElementById('modalof'+postidloc);
    postmodal.style.display='none';
  }
  if(e.target.id=='postchangemodal'+postidloc)
  {
    var postmodal=document.getElementById('postchangemodal'+postidloc);
    postmodal.style.display='none';
  }
  if(e.target.id=='delmodal'+presentcommid)
  {
    var postmodal=document.getElementById('delmodal'+presentcommid);
    postmodal.style.display='none';
  }
});

function modalposton(postid) {
  var postmodal=document.getElementById('modalof'+postid);
  var closebtn=document.getElementById('modalclose'+postid);
  closebtn.addEventListener('click',()=>{
    // console.log("listens");
    // var postmodal=document.getElementById('modalof'+postid);
    postmodal.style.display='none';
  });
  postidloc=postid;
  postmodal.style.display='block';
}
function postchangemodalon(postid){
  var postchangemodal=document.getElementById('postchangemodal'+postid);
  postchangemodal.style.display='block';
}

</script>

<%- include('partials/footer') %> 
